.container {
  width: 100%;
}
.container .heroSection {
  background-image: url("../../public/images/heroBg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 1rem 6rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}

.container .heroSection h1 {
  font-size: 4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  word-break: keep-all;
}

.container .heroSection .links {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container .heroSection button {
  background: #31c77f;
  padding: 0.8rem 2.5rem;
  border-radius: 0.9rem;
  color: white;
  font-weight: bold;
}
.container .heroSection a {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.container .topOffersSection {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  align-items: center;
  justify-content: start;
  margin-top: 2.5rem;
}

.container .latestOffersSection {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  align-items: center;
  justify-content: start;
}

.container .top {
  text-align: center;
}

.container .top h1 {
  font-size: 50px;
  font-weight: 700;
  color: #04214c;
}

.container .top h1 span {
  color: #31c77f;
}

.container .top h6 {
  font-size: 22px;
  font-weight: 500;
  color: #04214cd3;
}

.container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.container .btn button {
  background: #32d988;
  padding: 0.8rem 3rem;
  border-radius: 0.7rem;
  color: white;
  font-weight: bold;
}

.container .btn button:hover {
  background-color: #22ae6a;
}

.container .heroSection button:hover {
  background: #22ae6a;
}

@media screen and (max-width: 1090px) {
  .container .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 710px) {
  .container .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .container .heroSection {
    padding: 1rem;
  }
  .container .heroSection h1 {
    font-size: 3rem;
  }
}
